* {
  user-select: none;
  user-zoom: none;

  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  position: fixed;
  bottom: 10px;
  top: 10px;
  left: 10px;
  right: 10px;
  border: 2px solid lightgray;
  box-shadow: 5px 5px lightgrey;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
}
/* header */
.header_container {
  height: 20%;
  width: 100%;
}
/* header/logo */
.header_logo_container {
  display: inline-block;
  margin: 20px;
}
.header_logo_text {
  color: #047aed;
  display: inline-block;
  font-size: 30px;
}
.header_logo_icon {
  font-size: 50px;
  color: #047aed;
}

/* header/navbar */
.header_navbar_container {
  float: right;
  margin: 20px;
}
.header_navbar_icon {
  font-size: 25px;
  color: #047aed;
  text-decoration: none;
}
.header_navbar_icon:hover {
  color: lightgray;
}

/* input */
.input_container {
  text-align: center;
  height: fit-content;
  padding: 20px;
}
.input_url {
  font-weight: 600;
  padding: 10px;
  margin: 10px;
  width: 60%;
  border: 2px solid #047aed;
  background-color: white;
  box-shadow: 3px 3px #047aed;
  caret-color: #047aed;
  outline: none;
  color: grey;
}
.input_submit {
  color: gray;
  font-weight: bold;

  padding: 10px;
  border: 2px solid #047aed;
  background-color: white;
  box-shadow: 3px 3px #047aed;
  width: 150px;
  margin: 20px;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
}
.input_submit:hover {
  border: 2px solid lightgray;
  color: #047aed;
  box-shadow: 3px 3px lightgray;
}
.input_submit:active {
  background-color: white;
  box-shadow: 0 5px white;
  transform: translateY(4px);
}
/* Result */
.result_container {
  text-align: center;
  display: none;
}
#result_text {
  padding: 10px;
  width: 100vw;
  text-align: center;
  border: none;
  color: grey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  border-radius: none;
  user-select: all;
  background-color: ghostwhite;
  outline: none;
}
#copy_button {
  color: gray;
  font-weight: 600;
  padding: 10px;
  border: 2px solid #047aed;
  background-color: white;
  box-shadow: 3px 3px #047aed;
  width: 150px;
  margin: 20px;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  cursor: pointer;
}
#copy_button:hover {
  border: 2px solid lightgray;
  color: #047aed;
  box-shadow: 3px 3px lightgray;
}
#copy_button:active {
  background-color: ghostwhite;
  box-shadow: 10 15px ghostwhite;
  transform: translateY(4px);
}
.loading_container {
  border: 1px solid white;
  height: 5vh;
  margin: 5px;
}

/* Footer */
.footer_container {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 100%;
  font-size: 0.5em;
}
.footer_p {
}
